.about{
    margin: 20px auto 0;
    max-width: 800px;
    text-align: justify;
    padding: 0 30px;
    min-height: calc(100vh - 136px);
}

.title{
    color: #8C30F5;
}

.about span{
    font-weight: 700;
}