.wrong_path{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 116px);
}

.img_wrong{
    width: 400px;
    height: 400px;
}