.main__form{
    width: 250px;
    margin: 10px auto 0;
    display: flex;
    gap: 10px;
    position: relative;
}

.main__form input{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    outline-color: rgb(166, 166, 255);
}

.form__button{
    width: 40px;
    height: 100%;
    background: none;
    border: none;
    position: absolute;
    right: 0;
}