.navbar{
    border-bottom: 2px solid black !important;
}

.btn:hover{
    background-color: transparent;
    border-color: #8C30F5;
    color: #8C30F5;
}

.secondary{
    background-color: #F1E4FF;
    color: #8C30F5;
}

.primary{
    background-color: #8C30F5;
    color: #F1E4FF;
}

.d-flex{
    gap: 10px;
}